&__stats {
    padding: 124px 0 55px;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
        padding: 0 15px;

        &--counting {
            font-size: 5.5em;
            font-family: $marcelus;
            letter-spacing: .05em;
            line-height: .9em;
            color: #be9c79;
        }

        &--heading {
            font-size: 2em;
            color: $heading;
            font-family: $marcelus;
            margin-top: 31px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5em;
            letter-spacing: 1px;
        }

        &--text {
            font-size: 1.5em;
            font-family: $open;
            color: $text;
            font-weight: 300;
            text-align: center;
        }
    }
}